.admin {
    &-container {
        background: #333;
        color: $color-text-dark;
    }
    &-head {
        width: 100%;
    }
}

.info {
    position: absolute;
    top: 8rem;
    left: 0;
    width: calc(100% - 16rem);
    margin: 3rem 8rem;

    &-container {
        border-radius: 2rem;
        // background-color: #333;
        // background-color: $color-white;
        background-color: #ffffff9f;
        backdrop-filter: blur(1rem);
        // height: 80vh;

        &-header {
            border-radius: 2rem 2rem 0rem 0rem;
            height: 8rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0rem 3rem;
            // background-color: $color-white;
            background-color: #fff;
            // border-bottom: 2px solid #eeeeee;
        }

        // &-data{
        //     // padding: 1rem 2rem;
        //     padding: 0;

        //     button{
        //         display: block;
        //         width: 100%;
        //         font-size: 1.5rem;
        //         border: none;
        //     }

        // }
    }
}

.admin-table {
    width: 100%;
    padding: 0rem 2rem;
    font-size: 1.5rem;
    border: none;
    border-collapse: collapse;
    text-align: left;

    &-head {
        font-size: 2rem;
    }

    &-row {
        background-color: $color-white;

        th {
            // background-color: $color-secondary;
            background-color: #6d7ae0;
            color: $color-text-light;
            padding: 1rem 4rem;
        }
    }

    &-data-row {
        &:hover {
            background: #d2d4e8;
        }

        td {
            border-bottom: 1px solid rgb(225, 225, 225);
            padding: 1rem 4rem;
            margin: none;
        }
    }

    &-br {
        width: 80%;
        height: 0.2rem;
    }
}

.aeWindow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #53535348;
    z-index: 100;
}

.aeCont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 88rem;
    border-radius: 3.5rem;
    background-color: $color-white;

    &-inner {
        width: calc(100% - 4rem);
        margin: 2rem;

        &-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.5rem 2rem;

            button {
                outline: none;
                border: none;
                background: transparent;
                transition: 0.3s ease;
                border-radius: 0.2rem;

                &:hover {
                    background-color: #b0b0b0;
                    transition: 0.3s ease;
                }
            }
        }

        h1 {
            text-align: center;
            font-size: 3rem;
        }
    }

    &-outer {
        // position: relative;
        width: 100%;
    }

    &-inputs {
        padding: 0rem 0rem;
        &-block {
            width: auto;
            display: inline-block;
            position: relative;

            label {
                position: absolute;
                top: 1.3rem;
                left: 2.2rem;
                cursor: text;
                font-size: 1.2rem;
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            input {
                width: 24rem;
                border: 2px solid #eeeeee;
                padding: 1rem 1.5rem;
                margin: 0.5rem 2rem;
                margin-top: 3rem;
                border-radius: 0.5rem;
                background-color: #eee;
                font-family: "Regular", sans-serif;
                font-size: 1.4rem;

                // &:focus~label,
                // &:valid~label {
                //     // position: absolute;
                //     top: 1.4rem;
                //     left: 3.8rem;
                //     outline: none;
                //     pointer-events: none;
                // }

                &:focus {
                    outline: none;
                    border: 2px solid $color-secondary;
                }
            }
        }
        &-buttons {
            // float: right;
            // margin: 1.5rem 0rem 0rem 0rem;
            padding: 2rem 0rem 1rem 0rem;
        }

        &-button {
            // float: right;
            font-size: 1.8rem;
            padding: 1rem 2rem;
            margin-left: 2rem;
            border-radius: 1rem;
            border: none;
            outline: none;
            background-color: $color-secondary;

            .form-icon {
                margin: 0rem 0.5rem 0.3rem 0rem;
                font-size: 2.4rem;

                &-small {
                    // padding: 1.2rem 2rem;
                    margin: 0.3rem 0.5rem 0.4rem 0rem;
                    font-size: 2rem;
                }
            }
        }
    }
}

.data{
    padding: 1rem 2rem;

    &-head{
        font-size: 2rem;
        padding: .8rem 0rem;
        border-bottom: 2px solid #eee;
        margin-bottom: .8rem;
        font-family: "Heavy",sans-serif;    
    }

    &-cell{
        font-size: 1.6rem;
        padding: .4rem 0rem;

        &-key{
            width: 15rem;
            display: inline-block;
        }
        &-value{
            display: inline-block;
        }
    }
}