@import "../components/mixins";

.cont-body {
    display: flex;
    align-items: flex-start;
    // height: 60vh;

    .part{
        background-color: $admin-f;
        height: auto;
        // margin: 1rem;
        border-radius: 2rem;
        // border: 2px solid $sidebar;
        // box-shadow: 0px 10px 36px 9px rgba(0,0,0,0.1),0px -3px 53px 13px rgba(0,0,0,0.1);
    }
    
    .patient-part {
        flex: 1;
        margin: 2rem;
        height: auto;
        transition: height .3s ease;
    }
    
    .med-part {
        flex: 2;
        margin: 2rem 2rem 2rem 0rem;
    }
    
    .room-part{
        flex: 1;
        margin: 2rem 2rem 2rem 0rem;
    }
}

.inp-field {
    padding: 2rem;
    background-color: $admin-s;
    padding: 2rem;
    border-radius: 1.8rem 2rem 0rem 0rem;
    position: relative;

    input {
        border: 2px solid #b6d0f9;
        font-size: 1.4rem;
    }

    // select {
    //     option{
    //         height: 4rem;
    //     }
    // }

    button{
        font-size: 2.4rem;
        padding: .5rem 1rem;
        background: $admin-q;
        color: $color-text-dark;
        transition: all .3s;

        .cross{
            margin: .2rem .2rem -.3rem .1rem;
        }

        &:hover{
            background-color: $buttons;
            color: $color-text-light;
            transition: all .3s;
        }
    }

    .list-cont {
        border-radius: 1rem;
    }

    .wrapper {
        margin: 0.5rem 0rem;
        padding: 0.5rem;
        position: absolute;
        // top: 8rem;
        left: 3rem;
        background-color: $admin-q;
        border-radius: 0.8rem;
    }

    &-list {
        // margin: 1rem 0rem;
        font-size: 1.6rem;
        height: 16vh;
        border-radius: 1rem 1rem 1rem 1rem;
        overflow-y: auto;
        width: 29.8rem;
        background-color: $admin-q;
        // padding: 1rem;

        &::-webkit-scrollbar {
            width: 1rem;
            background-color: #b6d0f9;
            border-radius: 1rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $sidebar;
            border-radius: 1rem;
        }
    }

    &-options {
        padding: 0.5rem 1rem;

        &:hover {
            background-color: $sidebar;
            color: $color-text-light;
            cursor: pointer;
        }

        div {
            width: auto;
            padding: 0rem 1rem 0rem 0rem;
        }
    }
}

.patient-list, .medicine-list, .room-list {
    // flex: 6;
    padding: 1rem;
    width: auto;
    margin: 2rem;
    background-color: $admin-q;
    // border: .2rem solid $sidebar;
    border-radius: 1rem;

    .wrapper {
        // margin: 1rem;
        height: auto;
        transition: all .5s ease;
        max-height: 25rem;
        transition: height .5s ease;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 1rem;
            background-color: #b6d0f9;
            border-radius: 1rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $sidebar;
            border-radius: 1rem;
        }

        .message{
            margin: 1rem 1rem;
        }
    }

    &-cells {
        padding: 1rem;
        border: 0.2rem solid $sidebar;
        margin: 1rem;
        border-radius: 0.5rem;
        // font-size: 2rem;
        // width: 15rem;
        // display: flex;
        // align-items: flex-start;
        h2{
            margin: .4rem;
        }

        @include close-button;

        .wide-cell{
            font-size: 1.4rem;
            // width: 0%;
        }
    }
}

.cont-bottom{
    padding-bottom: 2rem;
    .buttons{
        padding: 0rem 1rem;

        button{
            background-color: $admin-s;
            color: $color-text-dark;
            transition: all .3s ease;
            
            &:hover{
                background-color: $admin-f;
                transition: all .3s ease;
            }
        }
    }
}

.patient-list-inner{
    overflow: hidden;
}

.list-item{
    padding: 1rem 1rem;
    margin-right: 1rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    // border-bottom: 2px solid $sidebar;

    &:hover{
        background-color: $admin-f;
    }

    @include key-values;
}

.room-cells{
    width: 4rem;
    font-size: 1.3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: all .3s ease;

    &:hover{
        background-color: $admin-f;
    }

    &:focus{
        background-color: $sidebar;
        color: $color-text-light;
        transition: all .3s ease;
    }
}

.selected{
    background-color: $sidebar;
    color: $color-text-light;
    transition: all .3s ease;
}

.patient-list-item{
    width: 100%;
    // padding: 1rem;
    font-size: 1.4rem;
    @include key-values;
    @include close-button;
}

.no-marg{
    margin: 1rem 1rem;
}

.med-block{
    border: 2px solid $sidebar;
    border-radius: 1rem;        
    padding: 1rem;
    margin: 1rem;
    
    &-inner{
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cell-info{
        margin: 1rem 1rem;
    }

    @include close-button;
}

.timing{
    margin: 1rem 0rem 1rem 2rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    &-cells{
        margin: 0rem 1rem;
        border-radius: .5rem;
        border: 2px solid $sidebar;

        
        div{
            display: inline-block;
            padding: .5rem 1rem;
            border-right: 2px solid $sidebar;
            transition: all .3s ease;
            
            &:nth-child(3){
                border: none;
            }

            &:hover{
                background-color: $sidebar;
                color: $color-text-light;
                transition: all .3s ease;
            }
        }
    }
}