.cont-body {
    display: flex;
    align-items: flex-start;
    // height: 60vh;

    .part{
        background-color: $admin-f;
        height: auto;
        // margin: 1rem;
        border-radius: 2rem;
        // border: 2px solid $sidebar;
        // box-shadow: 0px 10px 36px 9px rgba(0,0,0,0.1),0px -3px 53px 13px rgba(0,0,0,0.1);
    }
    
    .patient-part {
        flex: 1;
        margin: 2rem;
    }
    
    .med-part {
        flex: 2;
        margin: 2rem 2rem 2rem 0rem;
    }
    
    .room-part{
        flex: 1;
        margin: 2rem 2rem 2rem 0rem;
    }
}

.inp-field {
    padding: 2rem;
    background-color: $admin-s;
    padding: 2rem;
    border-radius: 1.8rem 2rem 0rem 0rem;
    position: relative;

    input {
        border: 2px solid #b6d0f9;
        font-size: 1.4rem;
    }

    // select {
    //     option{
    //         height: 4rem;
    //     }
    // }

    button{
        font-size: 2.4rem;
        padding: .5rem 1rem;
        background: $admin-q;
        color: $color-text-dark;
        transition: all .3s;

        .cross{
            margin: .2rem .2rem -.3rem .1rem;
        }

        &:hover{
            background-color: $buttons;
            color: $color-text-light;
            transition: all .3s;
        }
    }

    .list-cont {
        border-radius: 1rem;
    }

    .wrapper {
        margin: 0.5rem 0rem;
        padding: 0.5rem;
        position: absolute;
        // top: 8rem;
        left: 3rem;
        background-color: $admin-q;
        border-radius: 0.8rem;
    }

    &-list {
        // margin: 1rem 0rem;
        font-size: 1.6rem;
        height: 16vh;
        border-radius: 1rem 1rem 1rem 1rem;
        overflow-y: auto;
        width: 29.8rem;
        background-color: $admin-q;
        // padding: 1rem;

        &::-webkit-scrollbar {
            width: 1rem;
            background-color: #b6d0f9;
            border-radius: 1rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $sidebar;
            border-radius: 1rem;
        }
    }

    &-options {
        padding: 0.5rem 1rem;

        &:hover {
            background-color: $sidebar;
            color: $color-text-light;
            cursor: pointer;
        }

        div {
            width: auto;
            padding: 0rem 1rem 0rem 0rem;
        }
    }
}

.patient-list, .medicine-list {
    // flex: 6;
    padding: 1rem;
    width: auto;
    margin: 2rem;
    background-color: $admin-q;
    // border: .2rem solid $sidebar;
    border-radius: 1rem;

    .wrapper {
        // margin: 1rem;
        height: auto;
        transition: all .5s ease;
        max-height: 16rem;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 1rem;
            background-color: #b6d0f9;
            border-radius: 1rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $sidebar;
            border-radius: 1rem;
        }

        .message{
            margin: 1rem 1rem;
        }
    }

    &-cells {
        padding: 1rem;
        border: 0.2rem solid $sidebar;
        margin: 1rem;
        border-radius: 0.5rem;
        // font-size: 2rem;
        // width: 15rem;
        // display: flex;
        // align-items: flex-start;

        button {
            float: right;
            padding: 0.5rem;
            margin-left: 0.5rem;
            border: none;
            outline: none;
            background-color: transparent;
            transition: 0.3s ease;
            border-radius: 0.5rem;

            .cell-close {
                font-size: 1.6rem;
                margin: 0rem -0.05rem -0.3rem 0rem;
            }

            &:hover {
                background-color: #336b8e;
                color: #b6d0f9;
                transition: 0.3s ease;
            }
        }
    }
}

.cont-bottom{
    padding-bottom: 2rem;
    .buttons{
        padding: 1rem 2rem;
    }
}

.patient-list-inner{
    overflow: hidden;

    .patient-list-body{
        // padding: 1rem 0rem;

        .list-item{
            padding: 1rem 1rem;
            margin-right: 1rem;
            font-size: 1.4rem;
            border-radius: 1rem;

            &:hover{
                background-color: $admin-f;
            }

            span{
                width: 45%;

                .heading{
                    // width: 10rem;
                    padding-right: 2rem;
                    font-family: "Heavy", sans-serif;
                }

                .value{
                    padding: 0rem 2rem;
                }
            }
        }
    }
}