@import "../abstracts/variables";
@import "./assignMeds";

.emp-menu{
    height: 100vh !important;
}

.hide{
    display: none;
}

.info-container {
    &-body {
        display: flex;
        height: 100vh;
        width: 100%;
        margin: 0;
    }

    &-header {
        padding: 2rem;

        &-left {
            height: auto;
        }
        &-mbtn {
            display: inline-block;
            border: none;
            // padding: 1rem;
            // font-size: 2rem;
            padding: 0.6rem 1rem;
            margin: auto;
            background-color: inherit;
            border-radius: 0.5rem;
            transition: 0.3s ease;

            &:hover {
                background-color: $admin-q;
                transition: 0.3s ease;
            }

            .mbtn-svg {
                margin: 0rem 0rem -0.2rem 0rem;
                font-size: 2.4rem;
            }
        }

        &-head {
            display: inline-block;
            padding: 0rem 1rem;
        }
    }
}

.admin-table {

    &-row{
        border-radius: 2rem;
    }
}

.emp-menu {
    height: 100vw;
}

.header {
    background-color: $admin-s;
    h1 {
        margin: 2rem 2rem;
    }
}

.side-menu {
    background-color: $sidebar;
    color: $admin-t;
    width: 9rem;
    transition: width .5s ease;
    overflow: hidden;

    &-show {
        font-size: 2.4rem;
        padding: 0.5rem 1rem 0rem 1rem;
        margin: 2rem 1.8rem 2rem 2rem;
        border: none;
        outline: none;
        background: transparent;
        border-radius: 0.4rem;
        color: inherit;

        &:hover {
            background-color: #333;
            // color: $sidebar;
            transition: 0.3s ease;
        }
    }

    .wide-buttons {
        button {
            color: $admin-t;
            font-size: 1.6rem;
            width: 20rem;
            text-align: left;

            .button-icons {
                margin: 0rem 1rem -0.4rem 0rem !important;
            }
        }
    }
    .navigation-buttons {
        width: auto;
        margin: 3rem 2rem;
        text-align: left;

        button {
            color: $admin-t;
            margin: 2rem 0rem;
            padding: 1.2rem 1rem;
            height: 4.8rem;
            background: transparent;
            border: none;
            outline: none;
            border-radius: 1rem;
            overflow: hidden;
            vertical-align: middle;

            .button-icons {
                font-size: 2.2rem;
                margin: 0rem 0rem -0.4rem 0rem;
            }

            &:hover {
                background-color: #333;
            }

            .label {
                display: none;
                // opacity: 0;
            }
            
            .hide{
                opacity: 0;
                animation: fade-out .5s ease;
            }
        }
    }
}

.show-menu {
    width: 28rem;

    .navigation-buttons{
        button {
            .label{
                display: inline-block;
                opacity: 1;
                animation: fade-in .3s ease;
            }
        }
    }
}

.cont {
    width: 100%;
    background-color: $admin-t;
    overflow-y: auto;

    &::-webkit-scrollbar{
        width: 1rem;
        background-color: $admin-q;
    }
    
    &::-webkit-scrollbar-thumb{
        background-color: $admin-p;
        border-radius: 1rem;
        // border: .1rem solid $sidebar;
        margin: .2rem;
    }

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logout{
            margin: 1rem 3rem;
        }
    }
    
    &-info{
        margin: 4rem;
        // padding: 2rem;
        border-radius: 2rem;
        overflow: hidden;
        background-color: $admin-t;
        // border: 2px solid $admin-s;
        box-shadow: 0px 10px 36px 9px rgba(0,0,0,0.1),0px -3px 53px 13px rgba(0,0,0,0.1);

        &-head{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2rem 2rem;
            button{
                font-size: 2.4rem;
                padding: .5rem 1rem;
                background: transparent;
                color: $color-text-dark;
                transition: all .3s;

                .cross{
                    margin: .2rem .2rem -.3rem .1rem;
                }

                &:hover{
                    background-color: $buttons;
                    color: $color-text-light;
                    transition: all .3s;
                }
            }
        }
    }

    // &-body {
    //     // padding: 0rem 2rem;
    //     height: 40vh;
    //     display: flex;
    //     align-items: flex-start;

    //     &-head{
    //         flex: 1;
    //         // display: flex;
    //         align-items: center;
    //         background-color: $admin-s;
    //         // height: auto;
    //         // height: 20rem;
    //     }

    //     .inp-field{
    //         flex: 2;
    //         width: auto;
    //         

    //     }

    //     }
}

.dashboard{
    width: auto;
    // background-color: $admin-q;
    // border: 2px solid red;
    // padding: 2rem;
    margin: 2rem;
    display: flex;

    .column{
        flex: 1;

        .mini-info{
            width: 44.6%;
        }
    }
    .total{
        background-color: $admin-q;
        // width: 25rem;
        padding: 2rem;
        margin: 2.7%;
        border-radius: 2rem;
        box-shadow: 0px 10px 36px 9px rgba(0,0,0,0.1),0px 0px 78px -34px #336b8e;
        .emp{
            font-size: 1.6rem;
            width: 45%;
            margin: 1rem 1rem;

            .head{
                font-family: "Heavy", sans-serif;
                width: 12rem;
            }
        }

        h1{
            margin: 0rem 1rem;
        }

        h2{
            font-family: "Heavy", sans-serif;
            font-size: 2.4rem;
            margin: 0rem 0rem 0rem 1rem;
        }

        .ans{
            font-size: 4rem;
            // padding: 0;
            margin: 1rem 0rem 0rem 1rem;

            .pat-holder{
                font-size: 2rem;
            }
        }

        .blocks {
            background-color: $admin-s;
            color: $color-text-light;
            width: 45%;
            border-radius: 2rem;
            padding: 2rem;
            margin: 2.4%;
        }
    }

}