$color-primary: #ffdd88;
$color-secondary: #7d97ff;
$color-text-dark: rgb(61, 61, 61);
$color-text-light: #ffffff;
$color-white: #fff;
$color-button-light: #adbaef;
$color-button-dark: #2f50d5;
$color-input: #e8f0fe;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: "Regular";
  src: url("ObjectSans/Regular.otf") format("opentype");
}
@font-face {
  font-family: "Heavy";
  src: url("ObjectSans/Heavy.otf") format("opentype");
}

html {
  font-size: 62.5%;
  margin: none;
  padding: none;
}

body {
  box-sizing: border-box;
  color: $color-text-light;
  font-family: "Regular", sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  // background-image: url("./Resources/patternpad-2 rotated.svg"); 
}

h1 {
  color: #000;
}

.Login{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.Heading-head-name {
  font-size: 2.8rem;
  /* display: inline-block;    */
  background-color: rgba($color-white, 0.6);
  backdrop-filter: blur(30px);
  padding:1.5rem 2rem;
  font-family: "Heavy", sans-serif;
}

/* .Header-links{
    display: inline-block;
}

.Header-link-list li{
    padding: 0px 20px;
} */

.Login {
  &-container-outer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45rem;
    background-color: rgba($color-white, 1);
    border: 0.1rem solid rgba($color-white, 0.542);
    backdrop-filter: blur(30px);
    border-radius: 3rem;
    box-shadow: 0px 0px 40px 15px rgba(0,0,0,0.1);
  }
  &-container-inner {
    padding: 2rem;
    text-align: center;
  }
  &-Heading {
    font-size: 3.5rem;
    letter-spacing: 0.5px;
    color: $color-text-dark;
    padding: 3rem 0rem 1rem 0rem;
    font-family: "Heavy", sans-serif;
  }
  &-form {
    margin: 2rem 0rem;

    &-input {
      width: 36rem;
      height: 5rem;
      padding: 0rem 2rem;
      font-size: 1.4rem;
      color: #000;
      // border: 2px solid $color-secondary;
      border: none;
      border-radius: 1rem;
      outline: none;
      background-color: $color-input;
    }

    &-dropdown {
      width: 100%;
    }

    &-button {
      width: 36rem;
      height: 5rem;
      border: none;
      font-family: "Heavy", sans-serif;
      letter-spacing: 0.5px;
      border-radius: 1rem;
      // background-color: $color-secondary;
      background: linear-gradient(155deg, $color-button-light 0%, $color-button-dark  100%);
      color: rgb($color-white, 1);
      font-size: 1.9rem;

      &:hover{
        background: linear-gradient(155deg, $color-button-dark 0%, $color-button-light  100%);
        transition: all 0.5s linear;
      }
    }
  }
}

.item-margin {
  margin: 1.2rem 0rem;
}

::placeholder {
  font-family: "Regular", sans-serif;
}
#dropdown {
  width: 18rem;
  height: 3rem;
  outline: none;
  border: none;
  padding: 0rem 0.5rem;
  border-radius: 1rem;
  background-color: $color-input;

  option {
    width: 100%;
    height: 1rem;
  }
}