$color-primary: #ffdd88;
$color-secondary: #7d97ff;
$color-text-dark: rgb(77, 77, 77);
$color-text-light: #ffffff;
$color-white: #fff;
$color-button-light: #adbaef;
$color-button-dark: #2f50d5;
$color-input: #e8f0fe;
$admin-back: #c6d2f8;