$color-primary: #ffdd88;
$color-secondary: #00A9FF;
$color-text-dark: rgb(62, 62, 62);
$color-text-light: #ffffff;
$color-white: #fff;
$color-button-light: #adbaef;
$color-button-dark: #2f50d5;
$color-input: #e8f0fe;
$admin-back: #CDF5FD;
$info-container: #A0E9FF;
$info-container-hover: #89CFF3;
// $admin-p: #112D4E;
// $admin-s: #3F72AF;
// $admin-t: #DBE2EF;
// $admin-q: #F9F7F7;
$admin-p: #424242;
$admin-s: #525CEB;
$admin-t: #f4f4f4;
$admin-q: #BFCFE7;
// $admin-p: #3D3B40;
// $admin-s: #525CEB;
// $admin-t: #F8EDFF;
// $admin-q: #BFCFE7;
// $admin-p: #71C9CE;
// $admin-s: #A6E3E9;
// $admin-t: #CBF1F5;
// $admin-q: #E3FDFD;
$input: #e5e5e5;