$color-primary: #ffdd88;
$color-secondary: #00A9FF;
$color-text-dark: rgb(34, 34, 34);
$color-text-light: #ffffff;
$color-white: #fff;
$color-button-light: #adbaef;
$color-button-dark: #2f50d5;
$color-input: #e8f0fe;
$admin-back: #CDF5FD;
$info-container: #A0E9FF;
$info-container-hover: #89CFF3;
$admin-p: #62B6CB;
$admin-s: #5FA8D3;
$admin-t: #f0f0f0;
$admin-q: #CAE9FF;
// $admin-p: #424242;
// $admin-s: #525CEB;
// $admin-t: #f4f4f4;
// $admin-q: #BFCFE7;
$sidebar: #1B4965;
$buttons: #336b8e;
$input: #e5e5e5;
// $color-button-text:;