@font-face {
  font-family: "Regular";
  src: url("../Resources/ObjectSans/Regular.otf") format("opentype");
}
@font-face {
  font-family: "Heavy";
  src: url("../Resources/ObjectSans/Heavy.otf") format("opentype");
}
